:root {
    --fs-77: 40px;
    --fs-40: 32px;
    --fs-20: 20px;
    --fw-400: 400;
}

.fs-77 {
    font-size: var(--fs-77);
}


.fw-400 {
    font-weight: var(--fw-400);
} 

@media (min-width:768px) {
    :root {
        --fs-77: 77px;
        --fs-40: 40px;
        --fs-20: 20px;
    }

}



 